<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DefinitionsDir" value="c:\work\EpSqlGenCore\definitions"/>
    <add key="OutputsDir" value="c:\work\EpSqlGenCore\outputs"/>
    <add key="Company" value="MyCompanyName" />
    <add key="Author" value="EpSqlGen reporting tool" />
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="DateFormat" value="d.M.yyyy" />
    <add key="DateTimeFormat" value="d.M.yyyy H:mm:ss" />    
  </appSettings>
  <connectionStrings>
    <add name="ReportConnStringNpg1" connectionString="Host=127.0.0.1; Username=test;Password=Passw0rd1;Database=dvdrental" providerName="Npgsql"/>
    <add name="ReportConnStringOra2" connectionString="Data Source=RHEL5;User ID=TEST;Password=Passw0rd1;" providerName="System.Data.OracleClient"/>
    <add name="ReportConnStringNPG" connectionString="Host=192.168.56.1; Username=test;Password=Passw0rd1;Database=dvdrental" providerName="Npgsql"/>
    <add name="ReportConnStringSqLite" connectionString="Data Source=c:\work\EpSqlGenCore\db\chinook.db;" providerName="Microsoft.Data.Sqlite"/>
    <add name="ReportConnStringOra1" connectionString="Data Source =  10.100.103.67:1521/orcl.test.sk; User ID = TEST; Password = Passw0rd1;Connection Timeout=240;Min Pool Size=0;Connection Lifetime=300;Incr Pool Size=3;Decr Pool Size=1; " providerName="Oracle.ManagedDataAccess.Client"/>
    <add name="ReportConnString" connectionString="Data Source = (DESCRIPTION =  (ADDRESS_LIST =  (ADDRESS = (PROTOCOL = TCP)(HOST = 10.100.103.67)(PORT = 1521)) )(CONNECT_DATA = (SID = ORCL))); User ID = TEST; Password = Passw0rd1 " providerName="Oracle.ManagedDataAccess.Client"/>
  
  </connectionStrings>
</configuration>