<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DefinitionsDir" value="c:\work\EpSqlGenCore\definitions"/>
    <add key="OutputsDir" value="c:\work\EpSqlGenCore\outputs"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <connectionStrings>
    <add name="ReportConnStringOdac" connectionString="Data Source=RHEL5;User ID=TEST;Password=Passw0rd1;" providerName="oracle.dataaccess.client"/>
    <add name="ReportConnString" connectionString="Data Source=RHEL5;User ID=TEST;Password=Passw0rd1;" providerName="System.Data.OracleClient"/>
  </connectionStrings>
</configuration>