<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DefinitionsDir" value="c:\work\EpSqlGenCore\definitions"/>
    <add key="OutputsDir" value="c:\work\EpSqlGenCore\outputs"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <connectionStrings>
    <add name="ReportConnString" connectionString="Host=192.168.56.1; Username=test;Password=Passw0rd1;Database=dvdrental" providerName="Npgsql"/>
    <add name="ReportConnStringOra" connectionString="Data Source=RHEL5;User ID=TEST;Password=Passw0rd1;" providerName="System.Data.OracleClient"/>
    <add name="ReportConnStringNPG" connectionString="Host=192.168.56.1; Username=test;Password=Passw0rd1;Database=dvdrental" providerName="Npgsql"/>
    <!-- This time  no SqLite <add name="ReportConnStringSqLite" connectionString="Data Source=c:\work\EpSqlGenCore\db\chinook.db;" providerName="Microsoft.Data.Sqlite"/>-->    
  </connectionStrings>
</configuration>